@charset "UTF-8";

/* ----------------------------------------------------------
  Question
---------------------------------------------------------- */

/* Common
-------------------------- */

.quiz-score-message label,
.quiz-answer-wrapper label,
.quiz-question-wrapper label {
    display: block;
    margin-bottom: 0.5em;
}

.quiz-score-message input[type="number"],
.quiz-answer-wrapper input[type="text"],
.quiz-score-message textarea,
.quiz-question-settings textarea,
.quiz-question-wrapper input[type="text"] {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 0.5em;
}

.quiz-score-message,
.quiz-question-answer,
.quiz-answer {
    z-index: 1;
    position: relative;
    margin: 1em 0;
    padding: 1.5em 1em 1em 1em;
    border: 1px solid #ddd;
}

.quiz-score-message-remove,
.quiz-question-remove,
.quiz-answer-remove {
    margin-top: 0.5em;
    text-align: right;
}

/* Handle
-------------------------- */

.quiz-score-message,
.quiz-answer {
    background-color: #F9F9F9;
}

.quiz-question-answer {
    background-color: #fff;
}

.quiz-score-message-wrapper,
.quiz-answer-wrapper,
.quiz-question-wrapper {
    z-index: 1;
    position: relative;
}

.quiz-score-message-sortable-handle,
.quiz-answer-sortable-handle,
.quiz-question-sortable-handle {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
}

/* Wrapper
-------------------------- */

.quiz-question-answer details {
    margin-top: 1em;
    padding: 1em;
    background-color: #F9F9F9;
}

/* Answer
-------------------------- */

.quiz-question-settings input[type="checkbox"],
.quiz-answer-options input[type="checkbox"],
.quiz-answer-options input[type="radio"],
.quiz-answer-options label {
    display: inline-block;
    margin-top: 0;
    vertical-align: middle;
}

/* Settings
-------------------------- */

.quiz-question-settings > div {
    margin-top: 0.5em;
}

.quiz-question-explanation label {
    display: block;
    margin-bottom: 0.25em;
}
